* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

#aside {
    padding: 20px 40px;
    margin: auto auto;
    background: #000000;
    text-align: center;
    color: #DDDDDD;
    height: 50px;
}

#aside>:link,
#aside>:visited {
    color: #DDDDDD;
    text-decoration: underline;
}

header {
    height: 83vh;
    background-image: url(https://a0.muscache.com/im/pictures/cf39f4c4-e860-43d4-85be-deddd7b2da90.jpg?im_w=1440);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
}


.padding80 {
    padding: 0 80px;
}

#logo-top {
    display: flex;
    height: 80px;
    width: auto;
    align-items: center;

}

#logo-top>div {
    display: flex;
    flex: auto;
    text-align: center;
    justify-content: space-between;
    width: 10%;
}


#logo-top>:nth-child(1) {
    font-weight: bold;
    width: auto;
    font-size: 22px;
}


#logo>div>a:visited {
    display: inline-flex;
    align-items: center;

}

.flex_center_white_font {
    color: white;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    margin-left: 6px;
    text-decoration: none;
}


.air-logo>span {
    display: flex;
    place-items: center;
    width: auto;
    margin-left: 10px;
}

.nav-menu {
    height: 44px;
    display: flex;
    flex: auto;
}

.nav-menu a {
    display: flex;
    color: white;
    width: auto;
    font-weight: bold;
    margin-left: 6px;
    padding: 10px 6px;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}

.nav-menu a:hover {
    display: flex;
    color: white;
    width: auto;
    font-weight: bold;
    margin-left: 6px;
    padding: 10px 6px;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    text-decoration-line: underline;
    text-underline-position: under;
}

.text-end-user>div {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: end;
}

.text-end-user a {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    border-radius: 20px;
    align-content: end;
}

.text-end-user a:hover {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    border-radius: 20px;
    align-content: end;
    background-color: rgb(94, 138, 163, 0.5);
}

.text-end-user span {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 0px 10px;
    margin: 2px 1px;
    border-radius: 20px;
}

.text-end-user button {
    background-color: #F0F0F0;
    border: none;
    width: 75px;
    height: 40px;
    border-radius: 20px;
    position: relative;

}

.text-end-user button:hover {
    background-color: #F0F0F0;
    border: none;
    width: 75px;
    height: 40px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.search-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 68px;
    width: 850px;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 110px;
    text-align: left;
}


.search-input>div * {
    border: none;
    text-decoration: none;
    color: #000000;
    background: transparent;
}


.search-input>:nth-child(1) {
    display: flex;
    align-items: center;
    width: 185px;
    height: 55px;
    margin-left: 22px;
    margin: auto;
    padding-left: 10px;
    padding-right: 20;
    padding-bottom: 2px;
    border-right: solid 1px rgb(178, 178, 178);

}

.search-input>:nth-child(1):hover {
    display: flex;
    align-items: center;
    width: 185px;
    height: 55px;
    margin-left: 22px;
    margin: auto;
    background-color: #DDDDDD;
    border-radius: 35px;
    border-color: #DDDDDD;
}


.search-input>:nth-child(2) {
    display: flex;
    align-items: center;
    justify-items: start;
    width: 150px;
    height: 55px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    padding-bottom: 3px;
    border-right: solid 1px rgb(178, 178, 178);
}

.search-input>:nth-child(2):hover {
    display: flex;
    align-items: center;
    justify-items: start;
    width: 150px;
    height: 55px;
    margin: auto;
    cursor: pointer;
    padding-bottom: 3px;
    background-color: #DDDDDD;
    border-radius: 35px;
    border-color: #DDDDDD;
}

.search-input>:nth-child(3) {
    display: flex;
    align-items: center;
    width: 180px;
    height: 55px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    border-right: solid 1px rgb(178, 178, 178);
}

.search-input>:nth-child(3):hover {
    display: flex;
    align-items: center;

    margin: auto;

    background-color: #DDDDDD;
    border-radius: 35px;
    border-color: #DDDDDD;
}

.search-input>:nth-child(4) {
    display: flex;
    align-items: center;
    width: 250px;
    height: 55px;
    padding-left: 10px;
    cursor: pointer;
    padding-bottom: 3px;
    padding-right: 10px;

}

.search-input>:nth-child(4):hover {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    background-color: #DDDDDD;
    border-radius: 35px;
    border-color: #DDDDDD;
}

.search-input>:nth-child(5) {
    display: flex;
    width: 3rem;
    text-align: right;
    margin: auto;
    border: none;
    cursor: pointer;
}

.search-button {
    display: flex;
    background-color: rgb(250, 33, 91);
    border-radius: 50%;
    cursor: pointer;
    height: 45px;
    width: 35px;
    align-items: center;
    justify-content: center;
}

.search-button:hover {
    cursor: pointer;
    background-color: rgb(134, 54, 75);
}


#intro-banner {
    display: flex;
    flex-direction: column;
    height: 625px;
    justify-content: center;
}

.intro-text {
    width: 400px;
    color: #FFFFFF;
    font-size: 58px;
    font-weight: bold;
}

.recommend-button {
    width: 155px;
    height: 32px;
    margin-top: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.padding80-margin50-1 {
    margin: 50px 0;
    padding: 0 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.padding80-margin50-1 ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 1081px;
    width: 100%;
    height: 170px;
}

.padding80-margin50-1 a {
    display: flex;
    text-decoration: none;
    width: 25%;
    justify-content: space-between;
}

.padding80-margin50-1 img {
    width: 70px;
    margin-right: 15px;
    border-radius: 10px;
}

.padding80-margin50-1 li {
    display: flex;
    width: 100%;
    place-items: center;
}

.padding80-margin50-1 li span {
    display: block;
    color: black;
}

.padding80-margin50-2 {
    margin: 50px 0px;
    padding: 0px 80px;
}

.accom-items-quarter {
    list-style: none;
    display: flex;
    width: 100%;
}

.accom-items-quarter a {
    text-decoration: none;
    display: block;
    width: 100%;
    color: #000000;
}

.accom-items-quarter img {
    display: flex;
    border-radius: 20px;
    width: 100%;
    padding-right: 13px;
    box-sizing: border-box;
}

.Accomodations-text {
    font-size: 32px;
    padding: 0px 50px;
}

.black-background-padding5080 {
    background: black;
    color: white;
    padding: 50px 80px;
    display: block;
}

.uni-text,
.Be-a-part {
    font-size: 32px;
    padding: 0px 50px;
}

.meet-with-text {
    font-size: 14px;
    padding: 0px 50px;
}

.item-third {
    display: flex;
    list-style: none;
}

.item-third a {
    text-decoration: none;
    color: white;
    width: 33.33%;
    padding-right: 13px;
    box-sizing: border-box;
}

.item-third li {
    display: block;
}

.item-third img {
    width: 100%;
    display: flex;
    border-radius: 20px;
}

.padding80-margin50-4 {
    padding: 50px 80px;
    display: block;
    background-color: white;
    color: #000000;
}

.item-third-be-a-part {
    display: flex;
    list-style: none;
}

.item-third-be-a-part a {
    text-decoration: none;
    color: black;
    width: 33.33%;
    padding-right: 13px;
    box-sizing: border-box;
}

.item-third-be-a-part img {
    width: 100%;
    display: flex;
    border-radius: 20px;
}

footer {
    background-color: #F7F7F7;
    margin-bottom: 20px;
    border-top: 0.5px solid rgb(231, 231, 231);
}

.footer-quarter {
    list-style: none;
    flex-direction: row;
    display: flex;
    width: 100%;
}

.footer-quarter ul {
    margin-top: 35px;
    width: 25%;
}

.footer-quarter li {
    list-style: none;
    margin-top: 10px;
}

.footer-quarter a {
    text-decoration: none;
    color: #000000;
}

.footer-quarter a:hover {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    text-decoration: underline;
}

.last-footer {
    display: flex;
    justify-content: center;
}

.copyright-link {
    width: 50%;
    margin-left: 50px;
}

.copyright-link a {
    text-decoration: none;
    color: #000000;
}

.copyright-link a:hover {
    text-decoration: underline;
    color: #000000;
}

.languages-part {
    width: 25%;
    margin-left: 50px;
}

.languages-part a {
    color: #000000;
    font-weight: bolder;
}

.social-icon {
    width: 25%;
    display: flex;
    justify-content: end;
    margin-right: 50px;
}

.social-icon:hover {
    width: 25%;
    display: flex;
    justify-content: end;
    margin-right: 50px;
    cursor: pointer;
}